header {
  background-color: rgb(74, 124, 180);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.menu-container {
  position: relative;
}
.menu p {
  padding: 0;
}

.menu-title {
  margin: 0;
  padding: 1.2rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  transition: background-color 100ms ease-in-out;
  color: #EEE;
}
.menu-title:hover, .active .menu-title {
  cursor:default;
  background-color: rgb(91, 148, 214);
}

.working-link .menu-title {
  cursor: pointer;
}
.working-link span {
  box-sizing: border-box;
  border-bottom: 1px solid #EEE;
}

.menu-items {
  position: absolute;
  z-index: 1;
  margin: 0rem;
  padding: 0;
  width: 100%;
}

.menu-items li {
  box-sizing: border-box;
  position: relative;
  padding: 1rem;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(235, 181, 47);
  transition-property: visibility, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.active .menu-items li {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.active .menu-items li:hover {
  background-color: rgb(255, 205, 77);
}